{% load static %}
{% load staticfiles %}

<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <link rel="import" href="{% static 'bower_components/polymer/polymer.html' %}">
    <link rel="import" href="{% static 'css/shared-styles.html' %}">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    {% block import %}
    {% endblock import %}
</head>

<body>

    {% include "header.html" %}
    {% block content %}
    {% endblock content %}
    {% include "footer.html" %}

    {% block javascript %}
    {% endblock javascript %}
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="http://d3js.org/d3.v3.min.js"></script>

  </body>
</html>
